DEBUG=True
SECRET_KEY=
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=

DB_NAME=k2_store
DB_USER=
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=5432

DASHBOARD_URL_PREFIX=
DJANGO_ADMIN_URL_PREFIX=

# comma separated
ENAMAD_CODES=

EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=

SECURE_SSL_REDIRECT=True
